@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #071620;
    --secondary-color: #007CC7;
    /* #12232E */
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    padding: 0px;
    
}

/* Banner */
#banner #searchBar{
    left: 50%;
    max-width: 1100px;
    position: absolute;
    transform: translate(-50%,+50%);
    width: 90% ;
}

#banner #searchBar input{
    border: 2px solid #060609;
    border-radius: 4px;
    padding: 8px;
    margin: 1px;
}

.btn-prim{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
    border: 2px solid #060609;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-prim:hover{
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.3);
}

.sec-color{
    color: var(--secondary-color);
}

.sec-border{
    border-color: var(--secondary-color)!important;
}

.sec-bg{
    background-color: var(--secondary-color);
}

#recommendedCars{
    margin-top: 10rem;
}

#aboutUs{
    margin-top: 1rem;
}

#contactUs{
    background-image: url(https://media.discordapp.net/attachments/1022963358066016256/1074990235080986644/image.png?width=1255&height=670);
}
.form-control{
    border: none;
}
#searchBar input{
    border: none;
}

